@model List<KrispyKreme.Models.Cupon>
@using KrispyKreme.Models
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!--Cupones-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Cupones disponibles</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            @foreach (Cupon item in Model)
            {
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>@item.Titulo</h3>
                                <p>
                                    Vigencia: @item.Vigencia.ToShortDateString()
                                </p>
                                <p>
                                    <a href="#" data-idcupon="@item.CuponID" class="learn-more detailslearn canjearCupon"><i class="fa fa-shopping-cart"></i> Obtener</a>                                    
                                </p>
                            </div>
                            <span class="maxproduct"><img src="~/Content/plugins/images/cupon.png" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>@item.Titulo</h1>
                            </a>
                            <span class="price">
                                <span class="edd_price">Vigencia: @item.Vigencia.ToShortDateString()</span>
                            </span>
                        </div>
                    </div>
                </div>
            }            
        </div>
    </div>
</section>